@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    If you are emailing regarding an issue, please try to give us as good a description of your issue as you can, so we can resolve it quickly.
</p>

<address>
    <strong>WyzeOwl Staff:</strong>   <a href="mailto:wyse.owl.partners@gmail.com">wyse.owl.partners@gmail.com</a><br />
</address>