@using WyseOwl.Models
@model ContactModel
    <div class="jumbotron" style="background-image: url('https://dvyvvujm9h0uq.cloudfront.net/images/pixpa-inner-banner.jpg');">
        <h2 style="color: white">We help you save!</h2>
        <p style="color: white">Please fill in the quick form and we will be in touch with lightening speed!</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            If you are emailing regarding an issue, please try to give us as good a description of your issue as you can, so we can resolve it quickly.
        </div>
    </div>
    @using (Ajax.BeginForm("Contact", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }))
    {
        <div class="row">
            <div class="col-lg-5" style="padding-top: 10px">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Your Name...", @class = "form-control", required = "required" })
            </div>
          
        </div>

        <div class="row">
            <div class="col-lg-5" style="padding-top: 10px">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Your Email...", @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5" style="padding-top: 10px">
                @Html.TextAreaFor(m => m.Message, new { placeholder = "Message...", @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" style="padding-top: 10px">
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    }

    <!-- Trigger the modal with a button -->
    <div style="display: none">
        <button type="button" id="btnModal" data-toggle="modal" data-target="#myModal"></button>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thank you!</h4>
                </div>
                <div class="modal-body">
                    <p>We will contact you shortly!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   

    @section Scripts {
        <script>
            function onSuccess(data) {
                $("#btnModal").click();
            }

        </script>
    }

